**/.DS_Store

.config/alma/
.config/cagent/
.config/clash.meta/
.config/configstore/
.config/gh/
.config/mole/
.config/rstudio/
.config/stripe/
.config/zed/prompts/
.config/yazi/flavors/

.claude/**
!.claude/plugins/
!.claude/plugins/config.json
!.claude/settings.json
!.claude/statusline.sh

.codex/config.toml
.codex/.tmp/
.codex/__pycache__/
.codex/skills/

__pycache__/
